body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    background: url("background.jpeg");
    background-size: cover;
    background-position: center;
}

.card {
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 90vw;
    height: 80vh;
    background: url("card.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    font-size: 2.3em;
    font-family: "Caveat", cursive;
    color: red;
    font-weight: bold;

    transition: transform 0.4s ease;
}

.exit {
    transform: translateX(-95vw) translateY(20vh) rotate(-20deg);
}

.no-transition {
    transition: none;
}
