body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    background: lightblue;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: transform 0.4s ease;
}

.exit {
    transform: translateX(-95vw);
}

.no-transition {
    transition: none;
}
